ul {
    margin:0'
    padding:0;
    list-type:none;
    color: red;
    text-decoration: ;
    }
    
    li a{
    display:block;
    width:250px;
    margin:35px;
    text-decoration:solid;
        
    }
    
    li a:hover{
        opacity: 5;
        background-color: rgb(226, 84, 204);
        
    }
    
    li a:hover:not(.active){
        opacity: 0.7;
        background-color:brown;
    
    }
    
    
    